<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>投稿者 <i class="fa-solid fa-user"></i></th>
      <th>都道府県 <i class="fa-sharp fa-solid fa-map-pin"></i></th>
      <th>スタート <i class="fa-solid fa-car-side"></i></th>
      <th></th>
      <th>ゴール <i class="fa-solid fa-flag-checkered"></i></th>
      <th>お気に入り数 <i class="fa-solid fa-star"></i></th>
      <th>コメント数 <i class="fa-regular fa-pen-to-square"></i></th>
      <th>詳細 <i class="fa-regular fa-map"></i></th>
    </tr>
  </thead>
  <tbody>
    <% plans.each do |plan| %>
    <tr>
      <td>
          <%= link_to(plan.user) do %>
          <%= image_tag plan.user.get_profile_image.variant(resize: '70x70') %>
          <% end %>
          <%= plan.user.name %>
      </td>
      <td><%= plan.perfecture.name %></td>
      <td><%= plan.start %></td>
      <td><i class="fa-solid fa-arrow-right"></i></td>
      <td><%= plan.gole %></td>
      <td><i class="fa-regular fa-star"></i><%= plan.favorites.count %></td>
      <td><i class="fa-solid fa-pen-to-square"></i><%= plan.plan_comments.count %></td>
      <td><%= link_to "詳細情報", plan_path(plan.id) %></td>
    <% end %>
  </tbody>
</table>