<%= render 'layouts/error_messages', obj: @plan %>
<div class="container">
   <div class="mx-auto">
     <div class="text-left">
      <div class="col-9 px-0 mt-3 ml-4">
      <h4 class="mb-4"><strong>投稿内容編集</strong></h4>
        <div class="shadow-lg px-5 py-5">
          <%= form_with model: @plan, url: plan_path, method: :patch do |f| %>

          <div class="plan_form">
            おすすめのシチュエーション</th>
            <%= f.select :situation,Plan.situations.keys, class: "form-control situation" %>
          </div>
            <div class="area">
              <div class="area_space">
                <div class="plan_form">
                  スタート地点の都道府県
                  <%= f.collection_select :perfecture_id, Perfecture.all, :id, :name, {include_blank: '--選択してください--'} %>
                </div>

                <div>スタート地点 <i class="fa-solid fa-car-side"></i></div>
                <div class="plan_form"><%= f.text_field :start, class: "form-control start" %></div>

                <div>現地の写真 <i class="fa-regular fa-image"></i></div>
                <div class="plan_form"><%= f.file_field :start_image, class: "form-control-file image", accept: 'image/*' %></div>

                <div>おすすめポイント！</div>
                <div class="plan_form"><%= f.text_area :start_introduction, class: "form-control introduction" %></div>

                <div class="plan_form">
                  次のポイントまでの移動時間:約<%= f.select :minutes,*[1..59], class: "form-control minutes" %>分
                </div>

                <div>移動中気をつけた方がいい事やおすすめのルートがあれば教えてあげましょう！</div>
                <div class="plan_form"><%= f.text_area :attention, class: "form-control introduction" %></div>
              </div>
           </div>

          <div class="add-botton-box">
            <div class="area_space">
             <div class="plan_form">
                <%= link_to_add_association "+中継スポットを追加", f, :relays,
                data: {
                association_insertion_node: '#detail-association-insertion-point',
                association_insertion_method: 'after'
                }%>
              </div>
            </div>
          </div>
          <div class="area">
            <div class="area_space">
              <div class="plan_form">
                <div id="detail-association-insertion-point"></div>
              </div>
            </div>
          </div>
          <div class="area">
            <div class="area_space">
          <!--追加された中継地点を編集できる-->
          <% @plan.relays.each do |relay| %>
              <%= f.fields_for :relays do |t| %>
              <%= render "user/plans/relay_fields", f: t %>
              <% end %>
          <% end %>
            </div>
          </div>

          <div class="area">
            <div class="area_space">
              <div>ゴール地点</div>
              <div class="plan_form"><%= f.text_field :gole, class: "form-control start" %></div>

              <div>現地の写真</div>
              <div class="plan_form"><%= f.file_field :gole_image, class: "form-control-file image", accept: 'image/*' %></div>

              <div>おすすめポイント！</div>
              <div class="plan_form"><%= f.text_area :gole_introduction, class: "form-control introduction" %></div>
            </div>
          </div>

           <div class="edit_btn"><%= f.submit '編集内容を保存する', class:"btn btn-success" %></div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
