<div class="container">
   <div class="mx-auto">
     <div class="text-center">
       <% if @plan.user == current_user %>
      <div class="text-right">
        <%= link_to "投稿内容を編集する", edit_plan_path(@plan), class:"btn btn-sm btn-success" %>
        <%= link_to "消去する", plan_path(@plan), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-sm btn-danger" %>
      </div>
      <% end %>
       <!--スタート地点を表示-->
      <div class="area_space">
        投稿者：<%= image_tag @plan.user.get_profile_image.variant(resize: '70x70') %>　<%= @plan.user.name %>
      </div>

      <div>
        おすすめのシチュエーション<i class="fa-solid fa-car"></i> |<%= @plan.situation %>|
      </div>


      <div class="area_space">
        <h3>スタート地点は<%= @plan.perfecture.name %>の<%= @plan.start %> <i class="fa-solid fa-car-side"></i></h3>
      </div>

    <div class="d-flex justify-content-center">
      <div>
        <!--投稿されたスタート地点の写真-->
        <%= image_tag @plan.get_start_image(200,200) %>
      </div>

      <div class="text-left">
        <div>
          <h5 class="space">おすすめポイント <i class="fa-solid fa-bullhorn"></i><h5>
        </div>
        <p><%= @plan.start_introduction %></p>
      </div>

    </div>

      <div class="area_space">
        次のポイントまでの移動時間
      </div>
      <div>
        <!--移動時間-->
        ーーーーーー約<%= @plan.minutes %>分ーーーーーー
      </div>
    <div class="d-flex justify-content-center">
      <div class="text-left" style="width: 200px;">
        <div>
          <h5>移動中の注意点 <i class="fa-solid fa-triangle-exclamation"></i><h5>
        </div>
        <p class="attention"><%= @plan.attention %></p>
      </div>
    </div>

      <div class="area_space">
        <h4><i class="fa-solid fa-person-running"></i><i class="fa-solid fa-arrow-down"></i></h4>
      </div>


       <!--中継地点を表示-->
      <% @plan.relays.each do |relay| %>
      <div class="area_space">
        <h3><th>中継ポイント<i class="fa-solid fa-location-dot"></i> <%= relay.relay_point %></th></h3>
      </div>

    <div class="d-flex justify-content-center">
      <div>
        <!--投稿された中継地点の写真-->
        <%= image_tag relay.get_image(200,200) %>
      </div>

      <div class="text-left">
        <div>
          <h5 class="space">おすすめポイント <i class="fa-solid fa-bullhorn"></i><h5>
        </div>
        <p><%= relay.point_introduction %></p>
      </div>
    </div>
    <div class="area_space">
        次のポイントまでの移動時間
    </div>
    <div>
        <!--移動時間-->
        ーーーーーー約<%= relay.travel_time %>分ーーーーーー
    </div>
    <div class="d-flex justify-content-center">
      <div class="text-left" style="width: 200px;">
        <div>
          <h5>移動中の注意点 <i class="fa-solid fa-triangle-exclamation"></i><h5>
        </div>
        <p class="attention"><%= relay.travel_attention %></p>
      </div>
    </div>

      <div class="area_space">
        <h4><i class="fa-solid fa-person-running"></i><i class="fa-solid fa-arrow-down"></i></h4>
      </div>
      <% end %>

      <!--ゴール地点を表示-->
      <div class="area_space">
        <h3>ゴール<i class="fa-solid fa-flag-checkered"></i> <%= @plan.gole %></i><h3>
      </div>

     <div class="d-flex justify-content-center">
      <div>
        <!--投稿されたゴール地点の写真-->
        <%= image_tag @plan.get_gole_image(200,200) %>
      </div>

      <div class="text-left">
        <div>
          <h5 class="space">おすすめポイント <i class="fa-solid fa-bullhorn"></i><h5>
        </div>
        <p><%= @plan.gole_introduction %></p>
      </div>
    </div>
    </div>
  </div>
</div>


<!--お気に入り・コメント機能-->
<div class="container">
   <div class="mx-auto">
     <div class="text-center">
        <!--お気に入りボタン-->
       <div class="d-flex justify-content-center">
        <div class="favorite_buttons_<%= @plan.id %>">
          <div class="area_space">
           <%= render 'user/favorites/favorite', plan: @plan %>
          </div>
        </div>
        <div class="area_space">　｜　</div>
        <div class="area_space">
          <div><%= @plan.plan_comments.count %>件のコメント｜</div>
        </div>
       </div>
     </div>
   </div>
</div>

<div class="container">
   <div class="mx-auto">
     <div class="text-center">
<!--コメント入力ホーム-->
      <div class="d-flex justify-content-center">
        <div class="new-comment" style="width: 400px;#">
           <%= render 'user/plan_comments/form', plan: @plan, plan_comment: @comment %>
        </div>
      </div>
      <!--コメント一覧-->
        <div class="comments_area">
           <%= render 'user/plan_comments/plan_comment', plan: @plan %>
        </div>
     </div>
   </div>
</div>