<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-2'>
      <%= render 'user/plans/perfecture', perfectures: @perfectures%>
    </div>
      <div class="col-10">
        <h3><strong>スポット一覧</strong></h3>
        <div class="row">
          <% @spots.each do |spot| %>
            <div class="col-3">
              <%= link_to spot_path(spot.id) do %>
                <%= image_tag spot.images[0], size: '200x150' %>
              <% end %>
                <%= spot.perfecture.name %>:<%= spot.address %><br>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
