<%= render 'layouts/error_messages', obj: @spot %>
<div class="container">
   <div class="mx-auto">
     <div class="col-12">
      <h4 class="mb-4"><strong>スポット新規申請</strong></h4>
        <div class="shadow-lg px-4 py-4">
          <h5 class="mb-4">注意：登録済みのスポット、または不適切な内容であると管理者が判断した場合、申請は棄却されます。</h5>
          <%= form_with model: @spot do |f| %>
            <div class="area">
              <div class="area_space">
                <div class="plan_form">
                  スポットの都道府県
                  <%= f.collection_select :perfecture_id, Perfecture.all, :id, :name, {include_blank: '--選択してください--'} %>　※入力必須
                </div>
                <div>スポット名　※入力必須</div>
                <div class="plan_form"><%= f.text_field :address, class: 'form-control' %></div>

                <div>緯度経度は下の検索バーから検索を行えば自動で割り出されます。　※入力必須</div>
                <div class="repoint">
                    <div class="edit_profile">
                      <%= f.label :lat,"緯度" %>
                      <%= f.text_field :lat, id: :lat %>
                    </div>
                    <div class="edit_profile">
                      <%= f.label :lng,"経度" %>
                      <%= f.text_field :lng, id: :lng %>
                    </div>
                  </div>

                <div>現地の写真(必ず１枚写真を投稿してください＊最大４枚) <i class="fa-regular fa-image"></i></div>
                <div class="plan_form"><%= f.file_field :images, multiple: true, class: "form-control-file image", accept: 'image/*' %></div>

                <div class="edit_btn"><%= f.submit '投稿', class: "button" %></div>
              </div>
            </div>
          <% end %>
                <div class="actions">
                    <h4 class="edit_profile">位置情報</h2>

                    <input id="address" type="textbox" value="GeekSalon">
                    <input type="button" value="検索" onclick="codeAddress()">
                    <p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
                    <div id='map'></div>

                    <style>
                    #map {
                      height: 300px;
                      width: 100%;
                    }
                    </style>

                    <script>
                    //初期マップの設定
                    let map
                    let marker
                    function initMap(){
                      geocoder = new google.maps.Geocoder()

                      map = new google.maps.Map(document.getElementById('map'), {
                        center:  {lat: 35.6803997, lng:139.7690174},  //東京
                        zoom: 15,

                      });
                    }

                    //検索後のマップ作成
                    let geocoder
                    let aft
                    function codeAddress(){
                      let inputAddress = document.getElementById('address').value;
                      geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                        if (status == 'OK') {
                            //マーカーが複数できないようにする
                            if (aft == true){
                                marker.setMap(null);
                            }

                            //新しくマーカーを作成する
                            map.setCenter(results[0].geometry.location);
                                marker = new google.maps.Marker({
                                map: map,
                                position: results[0].geometry.location,
                                draggable: true	// ドラッグ可能にする
                            });

                            //二度目以降か判断
                            aft = true

                            //検索した時に緯度経度を入力する
                            document.getElementById('lat').value = results[0].geometry.location.lat();
                            document.getElementById('lng').value = results[0].geometry.location.lng();

                            // マーカーのドロップ（ドラッグ終了）時のイベント
                            google.maps.event.addListener( marker, 'dragend', function(ev){
                                // イベントの引数evの、プロパティ.latLngが緯度経度
                                document.getElementById('lat').value = ev.latLng.lat();
                                document.getElementById('lng').value = ev.latLng.lng();
                            });
                        } else {
                          alert('該当する結果がありませんでした：' + status);
                        }
                      });
                    }

                    </script>
                </div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1QWmGKXxUGve1mxLRrJvCEJ8ypPq7nHo&callback=initMap" async defer></script>
        </div>
      </div>
    </div>
  </div>
