<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-2'>
      <div class="spotname"><%= render 'user/plans/perfecture', perfectures: @perfectures%></div>
    </div>
  <div class="col-10">
    <h3 class="spotname"><strong><i class="fa-solid fa-map"></i> <%= @spot.address%></strong></h3>
  <div class="row">
      <% @spot.images.each do |image| %>
      <div class="images">
      <div class="col-2">
        <%= image_tag image, width: 200, height: 150 %>
      </div>
      </div>
      <% end %>
    </div>
   </div>
  </div>
</div>

<div class="d-flex justify-content-center">
        <div class="new-comment" style="width: 400px;#">
           <%= render 'user/spot_comments/form', spot: @spot, spot_comment: @comment %>
        </div>
      </div>
      <!--コメント一覧-->
        <div class="comments_area">
           <%= render 'user/spot_comments/spot_comment', spot: @spot %>
        </div>


