<% if @user == current_user or @spot.status == "承認" %>
<div class="container">
  <div class="mx-auto">
    <div>
      <p id="notice" class="text-center"><%= notice %></p>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-2'>
      <div class="spotname"><%= render 'user/plans/perfecture', perfectures: @perfectures%></div>
    </div>
  <div class='col-md-7 col-xs-10'>
   <div class="row">
   <div class="repoint">
    <div class='col-md-10 col-xs-10'>
    <h3 class="spotname"><strong><i class="fa-solid fa-map"></i> <%= @spot.address%></strong></h3>
    <%= render 'user/spots/star', rate: @rate %> <strong>（<%= @rate %>／5点）</strong>
    <div class="welcome">投稿者：<%= @spot.user.name %></div>
      <h4>投稿写真一覧</h4>
        <div class="row">
          <% @spot.images.each do |image| %>
          <div class="images">
          <div class="col-md-2 col-xs-8">
            <%= image_tag image, width: 200, height: 150 %>
          </div>
          </div>
          <% end %>
        </div>
      <div onclick="obj=document.getElementById('spot_image').style; obj.display=(obj.display=='none')?'block':'none';">
        <h4 style="cursor:pointer;">▼コメント投稿写真一覧</h4>
      </div>
      <div id="spot_image" style="display:none;clear:both;">
        <div class="row">
          <% @spot.spot_comments.each do |spot_comment| %>
            <% spot_comment.spot_images.each do |image| %>
              <div class="images">
                <div class="col-lg-1 col-xs-5">
                  <%= image_tag image, width: 100, height: 75 %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <h4>位置情報</h4>
        <div id='map'></div>
          <style>
            #map {
              margin: 10px 0;
              height: 300px;
              width: 100%;
            }
          </style>

        <!-- js部分 -->
          <script>
        //初期マップの設定
            let map
            let marker
            function initMap(){
              geocoder = new google.maps.Geocoder()

              map = new google.maps.Map(document.getElementById('map'), {
              center:  {lat: <%= @spot.lat %>, lng: <%= @spot.lng %>},
              zoom: 15,
            });

             marker = new google.maps.Marker({
              position:  {lat: <%= @spot.lat %>, lng: <%= @spot.lng %>},
              map: map
            });
          }

          </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1QWmGKXxUGve1mxLRrJvCEJ8ypPq7nHo&callback=initMap" async defer></script>
      </div>

<div class='col-md-6 col-xs-10'>
    <h4>コメント</h4>
    <%= render 'layouts/error_messages', obj: @comment %>
    <div><%= @spot.spot_comments.count %>件のコメント</div>
        <div class="new-comment" style="width: 300px;#">
           <%= render 'user/spot_comments/form', spot: @spot, spot_comment: @comment %>
        </div>
      <!--コメント一覧-->
      <h5>コメント一覧</h5>
        <div class="comments_area">
           <%= render 'user/spot_comments/spot_comment', spot: @spot %>
        </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<% else %>
<h4>お探しのスポットは審査中、または削除されています。</h4>
<% end %>
