<%= form_with model: [spot,spot_comment], local: true do |f| %>
    <%= render 'layouts/error_messages', obj: f.object %>

    <%= f.text_area :comment, rows:'5', placeholder: "スポットのレビュー", class: "form-control form-control-sm" %>
    <div id="rating-form">
        <label>評価：</label>
        <%= f.hidden_field :rate, :value => 'score' %>
    </div>
    <%= f.submit "投稿する" %>
    
<div id="post_raty"></div>
<script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    
    scoreName: 'product_comment[rate]',
    half: false,
  });
</script>

<% end %>