<%= form_with model: [spot,spot_comment], local: true do |f| %>
    <%= render 'layouts/error_messages', obj: f.object %>

    <%= f.text_area :comment, rows:'5', placeholder: "スポットのレビュー", class: "form-control form-control-sm" %>
    <div class="form-group row" id="star">
      <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
      <%= f.hidden_field :rate, id: :review_star %>
　　</div>
    <script>
      $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',

      scoreName: 'spot_comment[rate]',
      half: false,
    });
  </script>
    <%= f.submit "投稿する" %>

<% end %>