
<% spot.spot_comments.each do |spot_comment| %>
  <div class="pt-2 px-2" style="background-color: #fffffe; border: 2px solid #272343; border-radius: 2px;">
        <%# rateを表示 %>
    <div class="review-rating" data-score="<%= spot_comment.rate %>">評価：</div>
        
      <div class="text-left">
        <p>投稿者：<%= spot_comment.user.name %></p>
        <p><%= spot_comment.comment %></p>
       </div>

        <div class="text-right">
           <p>
             投稿日：<%= product_comment.created_at.to_s(:datetime_jp) %> |
              <% if spot_comment.user == current_user %>
                 <%= link_to "消去する", spot_spot_comment_path(spot_comment.spot_id, spot_comment), method: :delete, remote: true, data: {confirm: "本当に削除しますか？"}, class:"btn btn-sm btn-danger" %>
              <% end %>
<% end %>
           </p>
       </div>
   </div>

    <div class="pb-2"></div>