<div class="container">
   <div class="mx-auto">
      <div class="col-12">
      <h4 class="mb-4"><strong>ユーザー情報編集</strong></h4>
        <div class="shadow-lg px-4 py-4">
          <%= form_with model: @user do |f| %>
          <%= render 'layouts/error_messages', obj: @user %>
            <div class="area">
              <div class="area_space">
                <div>プロフィール写真を選択</div>
                <div class="plan_form"><%= f.file_field :profile_image, class: "form-control-file image", accept: 'image/*' %></div>

                <div>アカウントネーム</div>
                <div class="plan_form"><%= f.text_field :name, class: "form-control name" %></div>

                <div>自己紹介</div>
                <div class="plan_form"><%= f.text_area :profile, class: "form-control name" %></div>

                <div class="edit_btn"><%= f.submit '更新する', class: "button" %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>