<div class="container">
   <div class="mx-auto">
     <div class="text-center">
       <div class="rounded-circle">
        <% if @user.get_profile_image.present? %>
          <%= link_to image_tag(@user.get_profile_image, size: '200x200', class:"user-icon") %>
        <% end %>
       </div>
       <div class="area_space">
          <%= @user.name %>
       </div>
       <div class="profile">
          <%= @user.profile %>
       </div>
       <div class="edit_profile">
          <% if @user == current_user %>
            <% if @user.name != "guestuser" %>
            <%= link_to "編集する", edit_user_path(@user), class:"btn btn-sm btn-success" %>
            <% end %>
       </div>
       <div class="edit_profile">
          <% elsif admin_signed_in? %>
          <%= link_to "退会させる", withdrawal_path(@user), method: :patch, data: { confilm: "本当に退会させますか？" }, class:"btn btn-sm btn-danger" %>
       </div>
          <% else %>
          <% end %>

       <div class="tab">
          <input type="radio" name="tab" id="meat1" checked>
          <label for="meat1">投稿履歴一覧</label>
          <input type="radio" name="tab" id="meat2">
          <label for="meat2">お気に入り一覧</label>
       <div class="foods">
          <div>
            <span>投稿昇順</span>
            <%= render 'user/plans/index', plans: @plans %>
          </div>
          <div>
            <span>お気に入り登録順</span>
            <%= render 'user/plans/index', plans: @favorites %>
          </div>
       </div>
       </div>
     </div>
  </div>
</div>









