<% plan.plan_comments.each do |plan_comment| %>
  <table>
    <tr>
      <td><%= image_tag plan_comment.user.get_profile_image(100,100) %></td>
      <td><%= plan_comment.user.name %></td>
      <td><%= plan_comment.created_at.strftime('%Y/%m/%d') %><%= plan_comment.comment %></td>
      <% if plan_comment.user == current_user %>
      <td><%= link_to "Destroy", plans_plan_comment_path(plan_comment.plan_id, plan_comment), method: :delete, remote: true, data: {confirm: "本当に削除しますか？"} %></td>
      <% end %>
    </tr>
  </table>
<% end %>