<table class="table table-bordered">
  <thead>
    <tr>
      <th>会員id</th>
      <th>投稿者情報 <i class="fa-solid fa-user"></i></th>
      <th>会員登録日 <i class="fa-solid fa-calendar-days"></i></th>
      <th>会員詳細 <i class="fa-regular fa-map"></i></th>
      <th>会員ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% if !users.nil? %>
    <% users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td>
          <%= image_tag user.get_profile_image.variant(resize: '50x50') %>
          <%= user.name %>
      </td>
      <td><%= user.created_at.to_s(:datetime_jp) %></td>
      <td><%= link_to "詳細情報", user_path(user.id) %></td>
      <td class = "border-bottom">
      <% if user.is_deleted? %>
      <span>退会</span>
      <% else %>
      <span>入会中</span>
      <% end %>
      </td>
    </tr>
    <% end %>
    <% else %>
    <h4>検索結果はありませんでした。</h4>
    <% end %>
  </tbody>
</table>