<header class="shadow-sm">
 <nav class="navbar navbar-expand-lg" style="background-color:#004400">
  <div class='headerpoint'>
   <div class='container'>
    <div class='row'>
    <div class='col-lg-2 col-xs-12 text-center'>
      <%= link_to root_path do %>
      <%= image_tag 'icon.png', size: "205x155" %>
      <% end %>
    </div>
    <!--管理者側のヘッダー-->
    <% if admin_signed_in? %>
    <div class = "col-lg-2 col-xs-12 text-center" >
      <%= link_to 'お問合せ一覧', admin_contacts_path, class:"text-white" %>
    </div>
    <div class='col-lg-4 col-xs-12 text-center'>
      <!--検索機能-->
      <div class="search_form">
        <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
          <%= f.text_field :word %>
          <%= f.select :range, options_for_select([['ユーザー'], ['プラン'], ['スポット']]) %>
          <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
          <%= f.submit "検索" %>
        <% end %>
      </div>
    </div>
      <div class="col-lg-4 col-xs-12 d-flex justify-content-right">
        <div class='headerpoint'>
        <!--ユーザー一覧-->
        <div class='col-xs-12 text-center'>
          <%= link_to admin_users_path,class: 'nav-link text-light' do %>
          <%= image_tag 'user_all.png', size: "110x30" %>
          <% end %>
        </div>
        <!--スポット一覧-->
        <div class='col-xs-12 text-center'>
          <%= link_to admin_spots_path,class: 'nav-link text-light' do %>
          <%= image_tag 'spot_all.png', size: "110x30" %>
          <% end %>
        </div>
        <!--プラン一覧-->
        <div class='col-xs-12 text-center'>
          <%= link_to admin_plans_path,class: 'nav-link text-light' do %>
          <%= image_tag 'plan_oll.png', size: "110x30" %>
          <% end %>
        </div>
        <!--ログアウト-->
        <div class='col-xs-12 text-center'>
          <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
          <%= image_tag 'log_out.png', size: "110x30" %>
          <% end %>
        </div>
       </div>
      </div>
    <!--会員側のヘッダー-->
    <% elsif user_signed_in? %>
  <div class='headerpoint'>
   <div class='mypage'>
    <div class='col-lg-2 text-center col-xs-12'>
      <%= link_to user_path(current_user.id),class: 'nav-link text-light' do %>
      <%= image_tag 'my_page.png', size: "110x30" %>
      <% end %>
    </div>
   </div>
  </div>
    <div class='col-lg-4 col-xs-12 text-center'>
      <!--検索機能-->
      <a class="text-white">プラン検索フォーム</a>
      <%= search_form_for search, url: plans_path do |f| %>
        <div class="d-flex justify-content-center">
          <div class="searchimage"><%= image_tag 'search.jpg', size: "27x29" %></div><%= f.text_field :start_or_gole_cont %>
        </div>
        <div class="box_space">
          <%= f.select :situation_eq, ['家族でドライブ', '一人で楽しみたい', '友達とドライブ', 'デート', '誰とでも楽しめる'], {include_blank: 'シチュエーションを絞り込む'} %>
        </div>
        <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
          <a class="text-white" style="cursor:pointer;">▼ 都道府県から絞り込み</a>
        </div>
        <div class="text-white" id="open" style="display:none;clear:both;">
          <%= f.collection_check_boxes :perfecture_id_in, search_perfecture, :id, :name, include_hidden: false %>
        </div>
        <div class="box_space">
          <%= f.submit "検索" %>
        </div>
      <% end %>
    </div>
      <div class="col-lg-4 col-xs-12 d-flex justify-content-right">
        <!--マイページ-->
        <div class='headerpoint'>
        <div class='col-xs-12 text-center'>
          <%= link_to spots_path,class: 'nav-link text-light' do %>
          <%= image_tag 'spot_all.png', size: "120x40" %>
          <% end %>
        </div>
        <!--プラン一覧-->
       <div class='col-xs-12 text-center'>
          <%= link_to plans_path,class: 'nav-link text-light' do %>
          <%= image_tag 'plan_oll.png', size: "120x40" %>
          <% end %>
       </div>
        <!--ログアウト-->
        <div class='col-xs-12 text-center'>
          <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
          <%= image_tag 'log_out.png', size: "110x30" %>
          <% end %>
        </div>
        </div>
      </div>

    <!--非ログイン時のヘッダー-->
    <% else %>
    <div class="item">
      <div class = "col-lg-1 col-xs-12 text-center" >
      </div>
      <div class = "col-lg-6 col-xs-12 text-center" >
        <span class="text-white">会員登録をすると様々な機能を使うことができます！</span>
      </div>
      <div class="col-lag-4 col-xs-12 d-flex justify-content-right">
        <!--会員登録-->
        <div class='col-lag-4 col-xs-12 text-center'>
          <%= link_to new_user_registration_path do %>
          <%= image_tag 'sign_up.png', size: "110x30" %>
          <% end %>
        </div>
        <!--ログイン-->
        <div class='col-lag-4 col-xs-12 text-center'>
          <%= link_to new_user_session_path do %>
          <%= image_tag 'log_in.png', size: "110x30" %>
          <% end %>
        </div>
      </div>
      </div>
    <% end %>
    </div>
   </div>
   </div>
  </nav>
</header>