<!DOCTYPE html>
<html>
  <head>
    <title>Dravel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/ecbd652d7d.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body>
    <%= render 'layouts/header', search: @search, range: @range, search_perfecture: @search_perfecture %>
      <main>
        <%= yield %>
      <main>
  </body>
</html>
