<!DOCTYPE html>
<html>
  <head>
    <title>Reizouko</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/ecbd652d7d.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body>
    <%= render 'layouts/header', search: @search, range: @range, search_perfecture: @search_perfecture %>
      <main>
        <div class="container">
          <div class="mx-auto">
            <div>
              <p id="notice" class="text-center"><%= notice %></p>
            </div>
          </div>
        </div>
        <%= yield %>
      <main>
        <footer class="fixed-bottom" style="background-color:#004400">
          <div class = "text-center" >
    	      <%= link_to new_plan_path,class: 'nav-link text-light' do %>
            <i class="fa-solid fa-pen-to-square"></i> 新規投稿
            <% end %>
          </div>
       </footer>
  </body>
</html>
